[Desktop Entry]
Encoding=UTF-8
Name=Popup Applet Skeleton
Type=Service
ServiceTypes=Plasma/PopupApplet
Icon=system-run

X-Plasma-API=python
X-Plasma-MainScript=code/main.py
X-KDE-PluginInfo-Author=Alex Oleshkevich
X-KDE-PluginInfo-Email=alex.oleshkevich@gmail.com
X-KDE-PluginInfo-Name=skeleton-plasmoid
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://kde-look.org/
X-KDE-PluginInfo-Category=Development
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-NotificationArea=true